<h1>Héroe <small>Nombre del Héroe maximo</small></h1>
<hr>
<div class="row text-right">
  <div class="col">
    <button routerLink="/heroes" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>

  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form (ngSubmit)="guardar(f)" #f="ngForm">

      <div class="form-group">
        <label>Firebase ID</label>
        <input [(ngModel)]="heroe.id" name="id" type="text" placeholder="Firebase ID" class="form-control"
          disabled="disabled">
        <small class=" form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input [(ngModel)]="heroe.nombre" type="text" name="nombre" placeholder="Nombre del héroe" class="form-control"
          required>
      </div>

      <div class="form-group">
        <label>Poder</label>
        <input [(ngModel)]="heroe.poder" type="text" name="poder" placeholder="Poder del héroe" class="form-control">
      </div>

      <div class="form-group">
        <label>Estado</label>
        <br>
        <button *ngIf="heroe.vivo" (click)="heroe.vivo=!heroe.vivo" class="btn btn-outline-success w-50" type="button">
          <i class="far fa-smile"></i>
          Vivo
        </button>
        <button *ngIf="!heroe.vivo" (click)="heroe.vivo=!heroe.vivo" class="btn btn-outline-danger w-50" type="button">
          <i class="far fa-dizzy"></i>
          Muerto
        </button>
      </div>

      <hr>

      <div class="form-group text-center">
        <button class=" btn btn-primary" type="submit">
          <i class="far fa-save"></i>
          Guardar
        </button>
      </div>

    </form>
  </div>
</div>
