<h1>Listado de heroes</h1>

<hr>

<div class="row text-right">
  <div class="col">
    <button routerLink="/heroe/nuevo" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>

<table class="table mt-3 animated fadeIn fast">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Vivo</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let heroe of heroes; let i= index">
      <th scope="row"> {{i+1}} </th>
      <td>{{heroe.nombre}}</td>
      <td>{{heroe.poder}}</td>
      <td>
        <label *ngIf="heroe.vivo" class="badge badge-success">Vivo</label>
        <label *ngIf="!heroe.vivo" class="badge badge-danger">Muerto</label>
      </td>
      <td>Editar</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">
    Cargando
  </h4>
  <p>
    <i class="fas fa-sync-alt fa-spin fa-3x"></i>
  </p>
  <p class="mb-0">
    Espere por favor...
  </p>
</div>

<div class="alert alert-warning text-center mt-3">
  <h4 class="alert-heading">
    No hay registros
  </h4>
  <p>
    <i class="fas fa-exclamation fa-3x"></i>
  </p>
</div>
